@typeparam T

<div id="@Id" class="lazy-load-select-main @Class">

    <div class="lazy-load-select-input-with-indication">
        <input id="@_inputSelectorId"
               placeholder="@Placeholder"
               class="lazy-load-select-input"
               @onclick="OpenDropdownAsync"
               @bind-value="@_searchText"
               @bind-value:event="oninput" />
        @if (_isLoading && CanShowLoadingIndicator)
        {
            <div class="lazy-load-select-loading-indicator"></div>
        }
    </div>
    @if (_isDropdownOpen)
    {
        <div class="lazy-load-select-items" id="@_scrollContainerId">
            @foreach (var item in Items)
            {
                <div class="lazy-load-select-item"
                     @onclick="async ()=> await HandleItemSelectedAsync(item)">
                    @GetDisplayValue(item)
                </div>
            }

            @if (Items.Count == 0)
            {
                <div class="lazy-load-no-items">
                    @ValueNotFoundMessageText
                </div>
            }
        </div>
    }
</div>
