@using BlazorDrop.Components.Base
@using BlazorDrop.Components.Loading
@typeparam T
@inherits BaseLazyLoadWithSelect<T>

<div id="@Id" class="bzd-container bzd-list-container @Class">
    @if (ShowLoadingIndicator && _isLoading)
    {
        <BlazorDropLinearProgressBar Class="bzd-list-loading-container"></BlazorDropLinearProgressBar>
    }
    @foreach (var item in Items)
    {
        <div class="@GetSelectableItemClass(item)"
             @onclick="async () => await HandleItemSelectedAsync(item)">
            @GetDisplayValue(item)
        </div>
    }

    @if (!Items.Any())
    {
        <div class="bzd-empty-message">@ValueNotFoundMessageText</div>
    }
</div>
