@using BlazorDrop.Components.Base
@using BlazorDrop.Components.Loading
@typeparam T
@inherits BaseLazyLoadWithSelect<T>

<div id="@Id" class="bzd-container @Class" style="@Style">

    <div class="bzd-input-wrapper">
        <input id="@_inputSelectorId"
               class="bzd-input"
               placeholder="@Placeholder"
               disabled="@Disabled"
               readonly="@Disabled"
               @onclick="OpenDropdownAsync"
               @bind-value="@_searchText"
               @bind-value:event="oninput" />

        @if (_isLoading && ShowLoadingIndicator)
        {
            <BlazorDropCircularProgressBar></BlazorDropCircularProgressBar>
        }
    </div>

    @if (_isDropdownOpen)
    {
        <BlazorDropList Id="@_scrollSelectorId"
                        Class="bzd-dropdown"
                        ValueNotFoundMessageText="@ValueNotFoundMessageText"
                        CurrentPage="@CurrentPage"
                        PageSize="@PageSize"
                        ShowLoadingIndicator="false"
                        UseLazyLoad="@UseLazyLoad"
                        OnItemClickAsync="@OnItemClickAsync"
                        DisplaySelector="DisplaySelector"
                        OnLoadItemsAsync="OnLoadItemsAsync"
                        OnLoadingStateChanged="OnLoadingStateChangedAsync"
                        Items="@Items"
                        Value="Value">
        </BlazorDropList>
    }
</div>
