@using BlazorDrop.Components.Base
@using BlazorDrop.Components.Base.Select
@using BlazorDrop.Components.Loading
@typeparam T
@inherits BaseLazySelectableComponent<T, BlazorDropList<T>>

<div id="@Id" class="bzd-container bzd-list-container @Class" style="@Style">
    @if (ShowLoadingIndicator && _isLoading)
    {
        <BlazorDropLinearProgressBar Class="bzd-list-loading-container"></BlazorDropLinearProgressBar>
    }
    @foreach (var item in Items)
    {
        <div role="option"
             aria-selected="@IsItemSelected(item)"
             class="@GetSelectableItemClass(item)"
             @onclick="() => HandleItemSelectedAsync(item)">
            @if (ItemTemplate != null)
            {
                @ItemTemplate(item)
            }
            else
            {
                @GetDisplayValue(item)
            }
        </div>
    }

    @if (!Items.Any())
    {
        <div class="bzd-empty-message">@ValueNotFoundMessageText</div>
    }
</div>
